body {
    font-family: Arial, sans-serif;
 
    background-color: #817d7d;

    background-color: #f4f4f4;
 
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;

}

.container {

    background-color: #1a1818;

    background-color: #656866;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(233, 223, 223, 0.1);
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: auto;  
}

h1 {
    color: #ffffff;

}

h1 {
    color: #a39898;
}

a {
    display: inline-block;
    margin-top: 100px;
    padding: 10px 30px;
    background-color: #6c7074;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #505253; 
}
