
body, html {
    height: 100%;  
    margin: 0;    
    display: flex; 
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
<<<<<<< HEAD
 
    background-color: #817d7d;

    background-color: #f4f4f4;
 
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;

=======
>>>>>>> fb3608af54a71bced48f5420ffbdab221e742c06
}


.container {
<<<<<<< HEAD

    background-color: #1a1818;

    background-color: #656866;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(233, 223, 223, 0.1);
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: auto;  
=======
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 300px;  
>>>>>>> fb3608af54a71bced48f5420ffbdab221e742c06
}


h1 {
<<<<<<< HEAD
    color: #ffffff;

}

h1 {
    color: #a39898;
}
=======
    color: #171817;
    font-size: 24px;
    margin-bottom: 20px;
}

>>>>>>> fb3608af54a71bced48f5420ffbdab221e742c06

a {
    text-decoration: none;
    background-color: #868c92;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

a:hover {
    background-color: #0056b3;
}
