body {
    background-color: #bdbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 48px;
    margin: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-top: 20px;
}

a button {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

a button:hover {
    background-color: #f0f0f0;
}
