body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/7c/14/40/7c1440358b66271488719d1f37ceb1cb.jpg'); 
    background-color: #a7a2a2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #bbb7b7;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}
h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.form-group input:focus {
    border-color: #7b8c9d;
    outline: none;
}
.btn {
    width: 100%;
    padding: 20px;
    background-color: #7b858e;
    color: #938a8a;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #9eaebe;
}
