body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/736x/22/9c/6e/229c6ea0256538e7654e2489ab34d87b.jpg'); 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #fcfcfc;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}
h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #130f0f;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.form-group input:focus {
    border-color: #fdfdfd;
    outline: none;
}
.btn {
    width: 100%;
    padding: 20px;
    background-color: #928c8c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #d5d8db;
}
