
body, html {
    height: 100%;  
    margin: 0;    
    display: flex; 
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    background-color: #dad2d2; 
    font-family: Arial, sans-serif;
}


.container {
    background-color: rgba(109, 108, 108, 0.852);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(78, 100, 88, 0.1); 
    width: 300px;  
}


h1 {
    color: #171817;
    font-size: 24px;
    margin-bottom: 20px;
}


a {
    text-decoration: none;  
    background-color: #c5ccd3;
    color: rgb(22, 20, 20);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    
}

a:hover {
    background-color: #969a9e;
    
}
