body {
    font-family: Arial, sans-serif;
    background-color: #d3d4d4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.promo-container {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-content {
    display: flex;
    align-items: center;
}

.promo-image {
    width: 150px;
    margin-right: 20px;
}

.promo-details {
    max-width: 500px;
}

.promo-details h1,
.promo-details p {
    color: #333;
}

.promo-details h1 {
    font-size: 24px;
}

.promo-details p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.promo-rating {
    font-size: 20px;
    color: #f39c12;
    margin: 10px 0;
}

.promo-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.promo-quantity {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.promo-quantity label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.quantity-btn {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

#quantidade {
    width: 30px;
    text-align: center;
    margin: 0 10px;
}

.add-to-cart {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #555;
}
