/* tela_inicial.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/fa/41/a1/fa41a198552bf3be6b2956bbc107a90a.jpg'); 
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container label {
    margin-right: 10px;
    font-size: 14px;
}

#search-bar {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

header a[href*="carrinho"] {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

main {
    padding-top: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section {
    background-color: #9b8d93;
    color: white;
    text-align: center;
    padding: 100px 20px;    position: relative;
    background-size: cover;
    background-position: center;
}

.content-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

.promo-text h2 {
    font-size: 36px;
    margin: 0 0 20px;
}

.submit {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.submit:hover {
    background-color: #555;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s;
    padding-top: 60px; /* Espaço para o header */
    z-index: 999;
}

.sidebar.active {
    left: 0;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 15px 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .promo-text h2 {
        font-size: 28px;
    }
}